html,body{margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100hv;
}
#top{
    background-image: url('../images/makeb2.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.images {
    width: 300px;
    height: 200px;
    border-radius: 50%;
    
}
.titulo{
    color: pink;
}
.destaque:hover {
    font-weight: bold; 
}
.destaque {
    color: rgb(8, 0, 6);
    text-align: center;
}
.destaques {
    display: flex;
    justify-content: space-around;
    
}
.logo img{
    max-width: 180px;
    width: 100%;
    display: block;
}
.carimbo img{
    max-width: 200px;
    width: 100%;
    display: block;
}
.conteudo{
    max-width: 800px;
    overflow: hidden;
    margin: 0 auto;
}
.conteudo div{
    float: left;
    width: 50%;
    box-sizing: border-box;

}
.conteudo h3{
    color: rgb(10, 0, 6) (236, 116, 4);
    text-align: center;
}
#title {
    color: rgb(7, 0, 4);
    padding: 6px 12px;
    border-radius: 10px;
}
.conteudo p{text-align: center; color: rgb(243, 239, 239);}

.formulario{
    background: rgba(235, 3, 138, 0.582);
    border: rgb(252, 251, 251) 2px;
    border-radius: 50px;
    padding: 20px;
}
.formulario input[type="text"], .formulario input[type="email"], .formulario select{
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 200px;
    border: 0;
    padding: 5px 10px;
    box-shadow: 0px 1px 9px 0px;
}
.formulario label{display: block;}
.formulario button{
    width: 150px;
    margin: 10px auto;
    display: block;
    background: rgb(252, 235, 247);
    border: none;
    padding: 20px;
    border-radius: 200px;
    color: rgb(12, 0, 8);
}
.conteudo-bottom{
    background-color: #c7048c;
    overflow: hidden;
    margin: 0 auto;
    height: 350px;
}